name: testing

on: [push, pull_request]

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: latest
      - run: dart pub get
      - run: dart analyze

  test:
    needs: analyze
    runs-on: ubuntu-latest
    strategy:
      matrix:
        sdk: [stable, 3.6, 3.7, 3.8]
    steps:
      - uses: actions/checkout@v6
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}
      - run: dart pub get
      - run: dart test

  try-publish:
    needs: [analyze, test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: latest
      - run: dart pub get
      - run: dart pub publish --dry-run
